<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2022.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net48" />
  <package id="MSFT.ParallelExtensionsExtras" version="1.2.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OpenSky.FlightLogXML" version="0.1.6" targetFramework="net48" />
  <package id="TomsToolbox.Essentials" version="2.7.6" targetFramework="net48" />
  <package id="XDMessaging.Lite" version="5.0.6" targetFramework="net48" />
</packages>