<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*" Name="OpenSky Flight Tracking Agent" Language="1033" Version="!(bind.FileVersion.OpenSkyAgentExeFile)" Manufacturer="OpenSky" UpgradeCode="13497001-3D38-4CC3-B197-03DB857240BC">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
        <Icon Id="opensky.ico" SourceFile="..\OpenSky.Agent\Resources\opensky.ico" />
        <Property Id="ARPPRODUCTICON" Value="opensky.ico" />

        <PropertyRef Id="WIX_EXT_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" />
        <Condition Message="This application requires .NET Framework 4.8.0. Please install the .NET Framework then run this installer again.">
            Installed OR WIX_EXT_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED
        </Condition>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="OpenSky.Agent" Level="1">
            <ComponentGroupRef Id="OpenSky.Agent" />
            <ComponentGroupRef Id="OpenSky.Agent.Libraries" />
            <ComponentGroupRef Id="OpenSky.SoundPacks" />
        </Feature>

        <util:CloseApplication Id="CloseOpenSky.Agent" Target="OpenSky.Agent.exe" TerminateProcess="1" RebootPrompt="no" PromptToContinue="no" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="OpenSkyFolder" Name="OpenSky">
                    <Directory Id="INSTALLFOLDER" Name="Flight Tracking Agent" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="OpenSky" />
            </Directory>
            <Directory Id="DesktopFolder" SourceName="Desktop" />
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="OpenSky.Agent" Directory="INSTALLFOLDER">
            <Component Guid="{C7192B21-EB14-435E-991E-CA1BD4D6D616}" Win64="yes">
                <File Source="..\OpenSky.Agent\bin\$(var.Configuration)\OpenSky.Agent.exe" KeyPath="yes" Id="OpenSkyAgentExeFile">
                    <Shortcut Id="OpenSky.Agent.Shortcut" Directory="ApplicationProgramsFolder" WorkingDirectory="INSTALLFOLDER" Name="OpenSky Flight Tracking Agent" Icon="opensky.ico" Advertise="yes" />
                    <Shortcut Id="OpenSky.Agent.DeskShortcut" Directory="DesktopFolder" WorkingDirectory="INSTALLFOLDER" Name="OpenSky Flight Tracking Agent" Icon="opensky.ico" Advertise="yes" />
                </File>
	            <RegistryKey Root="HKCR" Key="opensky-agent">
		            <RegistryValue Type="string" Value="URL:opensky-agent" />
		            <RegistryValue Type="string" Name="URL Protocol" Value="" />
		            <RegistryKey Key="shell\open\command">
			            <RegistryValue Type="string" Value="&quot;[#OpenSkyAgentExeFile]&quot; &quot;%1&quot;" />
		            </RegistryKey>
	            </RegistryKey>
                <RemoveFolder Id="RemoveProgramMenuDir" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Guid="{F58EF8AF-5D4E-4005-8D90-5A83F0D26CFF}" Win64="yes">
                <File Source="..\OpenSky.AgentMSFS\bin\$(var.Configuration)\OpenSky.Agent.exe.config" KeyPath="yes" />
            </Component>
            <Component Guid="{388E5BC7-6F40-4E0A-A64F-32B80F1E14E5}" Win64="yes">
                <File Source="..\changelog.txt" KeyPath="yes" />
            </Component>
            <Component Guid="{1C22493B-73C5-4BF1-9A99-9555EC1E7E60}" Win64="yes">
                <File Source="Resources\SimConnect.cfg" KeyPath="yes">
                    <util:PermissionEx User="Users" GenericAll="yes" />
                </File>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>